.jumbotron {
  background-color: #efeeb8;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #efeeb8;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #48f088; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
